<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="App">
<div class="content">
    <h1>StoReel</h1>

    <img id="image">
    <canvas id="canvas"></canvas>
    <div ng-controller="StoryCtrl as ctrl">
        <!--<input title="Input" ng-model="ctrl.input">-->
        <div class="center">
            <textarea name="myTextBox" cols="50" rows="10" style="background-color:#FCF5D8;color:#663300;"
                      ng-model="ctrl.input" placeholder="Tell me a story..."></textarea>
            <br/>
            <div>
                <input id="memeMode" ng-model="ctrl.memeMode" type="checkbox"><label for="memeMode">Meme Mode</label>
                <button ng-click="ctrl.run()">Submit</button>
                <button ng-click="ctrl.makeGIF()">Make Gif</button>
            </div>
        </div>
        <!--    <span>{{ctrl.input}}</span>-->
        <div ng-repeat="sModel in ctrl.sentenceModels">
            <div>{{sModel.text}}</div>
            <span ng-repeat="img in sModel.images">
                <img ng-src="{{img}}" width="200px">
            </span>
        </div>
    </div>
</div>

<script src="jsgif/b64.js"></script>
<script type="text/javascript" src="jsgif/LZWEncoder.js"></script>
<script type="text/javascript" src="jsgif/NeuQuant.js"></script>
<script type="text/javascript" src="jsgif/GIFEncoder.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
