h1 {
	font-family:Helvetica;
	font-size:80px;
	color:#243249;
	text-align:center;
}
body{
	background-color: lightblue;
}

.content {
	padding-top:30px;
	max-width: 650px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.content .center {
	display:inline-block;
	width:auto;
	margin-left: auto;
	margin-right: auto;
}

.console {
	display:flex;
	flex-direction:row;
}

.input {
	max-width: 300px;
}

#image {

}