<html>
  <head>

  </head>

  <body>
    <div ng-app="App" ng-controller="MainCtrl as ctrl">
      <div>
      <input ng-model="ctrl.input"></input>
      <div ng-model="ctrl.input"></div>
      <button ng-click="ctrl.makeEntityRequest()">Submit</button>
      <div ng-repeat="entity in ctrl.test">{{entity.name}}</div>
      </div>

      <div>
      <input ng-model="ctrl.input2"></input>
      <div ng-model="ctrl.input2"></div>
      <button ng-click="ctrl.makeParseRequest()">Submit</button>
      <div ng-repeat="entity in ctrl.test2">{{entity.name}}</div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
